<single-spa-router>
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful: -->

  <nav>
    <application name="@leafnoise/workbench-nav"></application>
  </nav>
  <route path="page1">
    <application name="@leafnoise/flow-builder"></application>
  </route>
  <route path="page2">
    <application name="@leafnoise/form-builder"></application>
  </route>

 

  <main>
    <route default>
      <application name="@single-spa/welcome"></application>
    </route>
  </main>
</single-spa-router>
